/* ======================================
 
    MediaQuery-Reporter Styles
 
========================================= */

* {
    text-decoration: none;
    font-family: 'Helvetica Neue',Arial,sans-serif
}

body {
    margin: 0px;
    background-color: #FEFEFE;
}

ul {
    padding: 0px;
}

body:after {
    content: "less than 320px";
    font-size: 300%;
    font-weight: bold;
    position: fixed;
    bottom: 60px;
    width: 100%;
    text-align: center;
    background-color: hsla(1,60%,40%,0.7);
    color: #fff;
}

.section-title {
    color: #f42;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0px 15px 10px;
}

.ul {
    list-style: none;
    /*padding: 0px;
    margin: 0px 0px 0px 10px; */
}

.top-link {
    display: inline-block;
    margin: 0px 10px 0px 10px; 
}

.dots {
    margin: 0px 0px 10px 0px;
    font-size: 20px;
    color: #7f7f7f;
}

.link-nav {
    color: #AAA;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase; 
    font-size: 16px;
}

.link-nav:hover {
    color: #000;
}

.top-link {
    margin: 0px 3px 0px 3px;
}

.link-grey {
    font-size: 12px;
    color: #a0a0a0;
}

.link-grey:hover {
    color: #fff;
}

/* ----- FOOTER ----- */
.footer {
    background-color: #131313;
    display: flex;
    flex-direction: column;
}

.footer-trending {
    display: flex;
    flex-direction: row;
    justify-content: center;
    order: 1;
}

.block {
    width: 30%;
}

.footer-title {
    color: #AAA;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase; 
    font-size: 14px;
    margin: 5px 0px 5px 0px;
}

.footer-links li a {
    color: #f0f0f0;
}

.footer-links li a:hover {
    color: #fff;
}

.social-icon {
    width: 16px;
}

.footer-legal {
    order: 2;
    display: flex;
    height: 60px;
    background-color: #000;
    color: #AAA;
    margin: 0px;
}

.copyright {
    margin: 0px;
    text-align: center;
    /*align-items: center;*/
}



@media only screen and (min-width: 320px) {
    body:after {
        content: "320 to 768px";
        background-color: hsla(90,60%,40%,0.7);
    }

    .topbar-container {
        display: none;
    }

    .navbar-links {
        display: none;
    }

    /* ----- FEATURED ----- */
    .featured {
        padding: 2px;
    }

    .featured-story {
        /*width: 100%;*/
        min-height: 200px;
        max-height: 250px;
        margin: 5px;
        background-position: center center;
        overflow: hidden;
    }

    .featured-story img {
        max-width: 100%;
        background-size: cover;
    }

    .featured-text {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 40px;
        top: 40%;
        color: white;

    }

    /* Latest News */
    .latest .article {
        display: flex;
        overflow: hidden;
        padding: 10px;

    }
    .latest .article img {
        max-height: 72px;
        padding: 0px 10px 0px 0px;
    }

    .article-title {
        /*align-items: flex-end;*/
        font-weight: bold;
        color: #000;
        margin: 0px 0px 5px 5px;
    }

    .article-author {
        /*align-items: flex-end;*/
        font-size: .7rem;
        color: grey;
        margin: 7px 0px 0px 5px;
    }

}


@media only screen and (min-width: 768px) {
    body:after {
        content: "768 to 1024px";
        background-color: hsla(270,60%,40%,0.7);
    }

    /* Latest News */
    .latest {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .latest .article {
        display: flex;
        flex-direction: column;
        width: 30%;
        overflow: hidden;
        padding: 10px;
        margin: 0px;
    }

    .latest .article img {
        width: 100%;
        max-height: 140px;
        padding: 0px 0px 0px 0px;
    }

    .article-title {
        font-weight: bold;
        color: #000;
        margin: 4px 0px 0px 0px;
    }

    .article-author {
        font-size: .7rem;
        color: grey;
        margin: 4px 0px 0px 0px;
    } 

}

@media only screen and (min-width: 1024px) {
    body:after {
        content: "1024 and up";
        background-color: hsla(360,60%,40%,0.7);
    }

    /* Navbar */
    .navbar-container {
        height: 45px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
    }

    .navbar-links {
        display: flex;
        width: 60%;
        margin: 0px 0px 0px 8px;
    }

    .navbar-social {
        width: 39%;
        text-align: right;
        margin: 0px 8px 0px 0px;
    }

    /* Black Bar */
    .topbar-container {
        height: 32px;
        font-size: 13px;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        width: 100%;
    }

    .topbar-left {
        width: 60%;
        margin: 0px 0px 0px 8px;
    }

    .topbar-right {
        width: 39%;
        text-align: right;
        margin: 0px 8px 0px 0px;
    }


}